@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

body {
    font-size: 18px;
    background-color: rgb(255, 0, 0);
    font-family: 'Lato', sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
}

input, select, textarea, fieldset {
    margin: .75rem auto;
}

fieldset {
    border: 2px groove rgb(0, 0, 0);
}

.checkout, .clear, input, select, textarea {
    border: 2px solid rgb(0, 0, 0);
    border-radius: .5rem;
    padding: .25rem;
}

.checkout {
    background-color: salmon;
}

.clear {
    background-color: rgb(82, 82, 247);
}

.checkout:hover, .checkout:focus, .clear:hover, .clear:focus, input:focus, input:hover, select:focus, select:hover {
    background-color: rgb(60, 211, 0);
}

h2, legend {
    font-size: 2rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 2px 5px;
    display: inline;
}

.order {
    text-align: center;
    font-size: 1.5rem
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}